<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <title>Bookmate</title>
    <!-- <meta name="description" content="A minimalist layout for Login pages. Built with Pico CSS." /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/HomeCss.css') }}" />
  </head>
 
  <body>
    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast"><strong>Bookmate</strong></a>
        </li>
      </ul>
    </nav>
    <!-- ./ Nav -->

    <main class="container">
      <article class="grid">
        <div>
          {{ key_word }}
        </div>
      </article>
    </main>
    <footer class="container-fluid">
        <small
          >Team <a href="https://github.com/012050/DataScienceProject" class="secondary">Github</a> •
          <a href="http://door.deu.ac.kr/LMS/LectureRoom/Main/60593" class="secondary"
            >DataScienceProgramming-Door</a
          ></small
        >
      </footer>
  </body>
</html>
