<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <title>Bookmate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/HomeCss.css') }}" /> -->
    <style>
      body{
        background-color: beige;
      }
    </style>
  </head>

  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast"><strong>Bookmate</strong></a>
        </li>
      </ul>
    </nav>

    <main class="container">
      <hgroup>
        <h2>{{ student_number }}님의 대출 기록</h2>
        <h6>총 로딩 시간: {{ loading_time }}초</h6>
          {% for bookcode in bookinfos %}
          <br>
          <article class="grid">
            <spane>
              책 코드: {{ bookcode[0] }}<br>
              책 이름: {{ bookcode[1] }}<br>
              저자: {{ bookcode[2] }}<br>
            </spane>
            <div>
              <h6 style="display:inline;" >추천 도서</h6>
              {% for re_book in re_books %}
                {% for book in re_book[bookcode[1]] %}
                  <br>{{ loop.index }}. {{ book }}
                {% endfor %}
              {% endfor %}
            </div>
          </article>
          {% endfor %}
      </hgroup>
    </main>
    <footer class="container-fluid">
        <small
          >Team <a href="https://github.com/012050/DataScienceProject" class="secondary">Github</a> •
          <a href="http://door.deu.ac.kr/LMS/LectureRoom/Main/60593" class="secondary"
            >DataScienceProgramming-Door</a
          ></small
        >
    </footer>
  </body>
</html>