<!-- 테스트 -->
<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <title>Bookmate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Bookmate</h1>
                <p>도서 대출 기록 확인과 책 추천을 한 번에!</p>
                <h3>로그인 완료!</h3>
                <!-- <input type="text" name="ID" placeholder="ID" />
                <input type="password" name="PASSWORD" placeholder="password" /><br>
                <button>Login</button> -->
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button>
                        <h6>카테고리 별 추천 받기</h6>
                    </button>
                </div>
                <div class="col-sm-4">
                    <h3>열 1</h3>
                    <p>아름다운 한강...</p>
                    <p>한강은 크고 깨끗하며 아름답습니다...</p>
                </div>
                <div class="col-sm-4">
                    <h3>열 3</h3>        
                    <p>설악산...</p>
                    <p>설악산은 높고 화려하며 빼어납니다...</p>
                </div>
            </div>
        </div>
    </body>
</html>